body {
  margin:0px;
  padding:0px;
  color: #484848;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*link rel="ICON" href="https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/icon.png" />*/
}
